body {
   margin: 0;
   padding: 0;
   font-family: 'FiraGO', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

a {
   color: white;
   text-decoration: none;
   transition: .3s all;
}

a:hover {
   color: #58d7be;
   background: '';
}

.app {
   height: 100%;
   width: 100%;
   position: absolute;
}

.map {
   height: 100%;
   width: 100vw;
   display: grid;
   /* grid: repeat(3, 1fr) / repeat(3, 1fr); */
   position: relative;
   grid-gap: 3px;
}

.sidebar {
   position: absolute;
   margin: 15px;
   width: 275px;
   background: #1b222c;
   z-index: 500000;
   /* height: 600px; */
   border-radius: 3px;
}

.header {
   background: #2B3038;
   padding: 15px;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
}

.content {
   padding: 15px 15px 0 15px;
   color: white;
}

p {
   font-size: 14px;
}

h1 {
   margin: 0px 0px 10px 0;
   font-size: 19px;
   weight: 500;
   background: linear-gradient(to bottom right, #e7e1a0, #85e0ce);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.subtitle {
   color: #CDCDCD;
   font-size: 14px;
}

.section {
   margin-bottom: 20px;
}

.section-title {
   font-size: 15px;
   font-weight: 500;
   margin-bottom: 10px;
}

.slider {
   width: 100%;
   -webkit-appearance: none;
   appearance: none;
   height: 4px;
   background: #7D8187;
   outline: none;
   border-radius: 10px;
}

.slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   /* Override default look */
   appearance: none;
   width: 16px;
   /* Set a specific slider handle width */
   height: 16px;
   border-radius: 100%;
   /* Slider handle height */
   background: #2DD5C9;
   /* Green background */
   cursor: pointer;
   /* Cursor on hover */
}
